{% extends "home/base.html" %}
{% load wagtailimages_tags %}
{% load wagtailroutablepage_tags %}
{% load wagtailcore_tags %}
{% load static %}

{% block body_class %}template-archive{% endblock %}

{% block content %}
  <main>
    <div class="row">
      <div class="col d-flex flex-row align-items-center my-2">
        <div class="text-uppercase me-3 f-special subtitle">
          Časopis pre kresťanskú kultúru
        </div>
        <div class="flex-grow-1">
          <hr>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 mb-3">
        <h1 class="fw-bold">{{ page.title }}</h1>
        {{ page.body|richtext }}
      </div>
    </div>
    <div class="row">
      {% for issue in page.issues.all %}
        <div class="col-md-3 col-sm-6">
          <div class="d-flex flex-column align-items-center">
            <a href="{{ issue.file.url }}" class="mb-2">
              {% image issue.cover width-175 %}
            </a>
            <div class="text-center">
              {{ issue.caption }}
            </div>
          </div>
        </div>
      {% endfor %}

    </div>
  </main>
{% endblock content %}
