{% load wagtailimages_tags %}


<div class="grid grid-cols-1 gap-5 sm:grid-cols-2 sm:gap-10 lg:grid-cols-3 xl:grid-cols-4 mb-8">
  {% for article in articles %}
    <article class="flex flex-col">
      <address rel="author" class="not-italic mb-2">
        {% for author_link in article.authors.all %}
          {{ author_link.author.name }}{% if not forloop.last %},{% endif %}
        {% endfor %}
      </address>

      <h2 class="mb-2 f-spec font-medium uppercase text-lg leading-tight">
        <a href="{{ article.url }}">
          {{ article.title }}
        </a>
      </h2>
      {% image article.main_image height-250 format-jpeg as article_img %}
      <a href="{{ article.url }}" class="mt-auto">
        <img src="{{ article_img.url }}" alt="{{ article_img.alt }}"
             class="w-full h-32 sm:h-44 object-cover object-center">
      </a>
    </article>
  {% endfor %}
</div>

{% if articles.paginator.num_pages > 1 %}
  <div class="flex justify-center">
    {% if articles.has_previous %}
      <a href="?page={{ articles.previous_page_number }}"
         class="mx-2 px-6 py-2 bg-black f-spec font-medium text-white">
        <span>&laquo; Novšie</span>
      </a>
    {% endif %}
    {% if articles.has_next %}
      <a href="?page={{ articles.next_page_number }}"
         class="mx-2 px-6 py-2 bg-black f-spec font-medium text-white">
        <span>Staršie &raquo;</span>
      </a>
    {% endif %}
  </div>
{% endif %}
