{% extends "home/base.html" %}

{% block body_class %}template-article-index{% endblock %}

{% block content %}
  <div class="mb-4 f-spec uppercase text-lg">Všetky tagy</div>
  <div class="max-w-xl text-gray-500 mb-3">
      {% for name, slug in tags %}
        <a href="/tagy/{{ slug }}">#{{ name }}</a>
      {% endfor %}
  </div>
{% endblock content %}
