{% extends "home/base.html" %}
{% load wagtailimages_tags wagtailcore_tags %}

{% block body_class %}template-article{% endblock %}

{% block extra_css %}{% endblock extra_css %}

{% block content %}
  <article class="max-w-screen-lg mb-4 flex flex-col">
    {% image page.main_image fill-1100x500 format-jpeg class='w-full object-fit object-center mb-10 order-1' %}

    <div class="grid grid-cols-1 sm:grid-cols-3 order-4">
      <h1 class="sm:col-span-2 mb-5 f-spec font-medium text-4xl uppercase">{{ page.title }}</h1>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-3 gap-10 md:gap-20 default-formatting order-5">
      <div class="sm:col-span-2 leading-7 article-content">
        {% include_block page.free_content %}
        {% if page.paid_content %}
          {% if user.is_authenticated %}
            {% include_block page.paid_content %}
          {% else %}
            <div class="border border-gray-200 sm:m-8 px-4 md:px-8 py-5 text-center f-spec">
              <div class="mb-2">
                Na dočítanie článku je potrebné zadať Váš e-mail.
              </div>
              <div class="mb-2">
                Časopis Verbum tvoríme pre ľudí, ktorí majú záujem o kvalitné čitanie a diskusiu.
                Chceme budovať komunitu čitateľov, ktorí budú spolu s nami tvorcami kultúry a
                kultúrnosti. Vyplnením e-mailu získate prístup k textom a dozviete sa o našich
                novinkách ako prví.
              </div>
              <div class="mb-5">
                Váš e-mail a ďalšie údaje nikdy neposkytneme ďalším stranám.
              </div>

              <form action="{% url "paywall" %}" method="post"
                    class="flex flex-col mb-5 items-center">
                {% csrf_token %}
                {% with paywall_form as form %}
                  {{ form.non_field_errors }}
                  {{ form.email.errors }}
                  {{ form.email }}
                  <input type="hidden" name="target_url" value="{{ page.full_url }}" id="id_target_url">
                {% endwith %}
                <div class="flex justify-center">
                  <button type="submit"
                          class="px-6 py-2 bg-black f-spec font-medium text-white">
                    Registrovať
                  </button>
                </div>
              </form>

              <div class="mb-5 text-sm text-gray-400">
                Odoslaním súhlasite s našimi
                <a href="/gdpr/" class="text-gray-700">GDPR</a> a
                <a href="/obchodne-podmienky/" class="text-gray-700">Obchodnými podmienkami</a>.
              </div>
            </div>
          {% endif %}
        {% endif %}
      </div>
      <div class="f-spec">
        {% for author_link in page.authors.all %}
          <a href="{{ author_link.author.url }}"
             class="font-medium">{{ author_link.author.name }}</a>
          <div class="mb-5">
            {{ author_link.author.description|richtext }}
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="text-gray-500 mb-3 order-2">
      {% for tag in page.tags.all %}
        <a href="/tagy/{{ tag.slug }}">#{{ tag.name }}</a>
      {% endfor %}
    </div>

    <address rel="author" class="text-xl not-italic mb-2 order-3">
      {% for author_link in page.authors.all %}
        {{ author_link.author.name }}{% if not forloop.last %},{% endif %}
      {% endfor %}
      <span class="mx-3">&middot;</span>
      <span class="text-lg text-gray-700">{{ page.date|date:"SHORT_DATE_FORMAT" }}</span>
    </address>
  </article>

  <section>
    <div class="mb-4 f-spec uppercase text-lg">Ďalšie texty z rubriky</div>

    <div class="grid grid-cols-1 gap-5 sm:grid-cols-2 sm:gap-10 lg:grid-cols-3 xl:grid-cols-4">
      {% for article in articles_in_category|slice:':3' %}
        <article class="flex flex-col">
          {% image article.main_image height-250 format-jpeg as article_img %}
          <a href="{{ article.url }}" class="mb-3">
            <img src="{{ article_img.url }}" alt="{{ article_img.alt }}"
                 class="w-full h-32 sm:h-44 object-cover object-center">
          </a>

          <address rel="author" class="not-italic mb-2">
            {% for author_link in article.authors.all %}
              {{ author_link.author.name }}{% if not forloop.last %},{% endif %}
            {% endfor %}
          </address>

          <h2 class="mb-2 f-spec font-medium uppercase text-lg leading-tight">
            <a href="{{ article.url }}">
              {{ article.title }}
            </a>
          </h2>
        </article>
      {% endfor %}

      <div class="bg-gray-200 f-spec p-5
                  sm:row-start-1 sm:col-start-2 lg:col-start-3 xl:col-start-4">
        <h2 class="text-lg mb-4">Najčítanejšie</h2>
        <ol class="text-sm list-decimal ml-4">
          {% for article in most_viewed|slice:':7' %}
            <li><a href="{{ article.url }}" class="line-clamp-1">{{ article.title }}</a></li>
          {% endfor %}
        </ol>
      </div>
    </div>
  </section>
{% endblock content %}
