{% extends "home/base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-author{% endblock %}

{% block content %}
  {% image page.photo original format-jpeg as pinned_bg %}
  <article class="grid grid-cols-1 sm:grid-cols-2 gap-3 sm:gap-10 mb-10">
    <img src="{{ pinned_bg.url }}" alt="{{ pinned_bg.alt }}"
         class="h-48 sm:h-72 w-full object-cover object-center">
    <div>
      <h1 class="f-spec font-medium uppercase text-4xl mb-2">
        {{ page.title }}
      </h1>
      <div class="default-formatting">
        {{ page.description|richtext }}
      </div>
    </div>
  </article>

  <div class="mb-4 f-spec uppercase text-lg">Texty autora</div>
  {% include "home/article_grid.html" %}
{% endblock content %}
