{% load django_vite static wagtailuserbar meta %}
<!DOCTYPE html>
<html lang="sk" {% meta_namespaces_schemaorg %}>
<head {% meta_namespaces %}>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {% block title %}
      {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
    {% endblock %}
    {% block title_suffix %}
      {% with self.get_site.site_name as site_name %}
        {% if site_name %}- {{ site_name }}{% endif %}
      {% endwith %}
    {% endblock %}
  </title>
  {% include "meta/meta.html" %}

  {# Global stylesheets #}
  {% vite_hmr_client %}
  {% vite_asset 'main.js' %}

  <link rel='shortcut icon' type='image/x-icon' href='{% static 'favicon.ico' %}'/>

  {% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
  {% endblock %}
</head>

<body class="flex flex-col min-h-screen f-norm px-4 {% block body_class %}{% endblock %}">
{% wagtailuserbar %}

<div class="container mx-auto my-10 flex-grow">
  <header class="flex flex-row justify-center sm:justify-start uppercase mb-10 f-spec">
    <a href="/" class="flex flex-row">
      <svg class="fill-current text-black" width="33" viewBox="0 0 78.38 81.73">
        {% include "home/logo.html" %}
      </svg>
      <span class="text-5xl mx-5">Verbum</span>
    </a>
    {% include "home/navigation.html" %}
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>
</div>

<div class="bg-black text-white -mx-4 px-4 py-10 uppercase text-xs">
  <footer class="container mx-auto grid grid-cols-2 lg:grid-cols-4 gap-5 lg:gap-10
                 f-spec font-medium leading-loose">
    <div class="flex flex-col">
      <svg class="fill-current text-white" width="20" viewBox="0 0 78.38 81.73">
        {% include "home/logo.html" %}
      </svg>
      Verbum &dash; časopis pre kresťanskú kultúru
    </div>
    <div class="flex flex-col">
      <a href="/o-casopise">O časopise</a>
      <a href="/redakcia">Redakcia</a>
      <a href="https://old.verbumcasopis.sk" target="_blank">Starý web</a>
    </div>
    <div class="flex flex-col">
      {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Odhlásiť sa</a>
      {% else %}
        <a href="{% url 'login' %}">Prihlásiť sa</a>
      {% endif %}
    </div>
    <div class="flex flex-col">
      <a href="https://www.facebook.com/Verbum-%C4%8Dasopis-pre-kres%C5%A5ansk%C3%BA-kult%C3%BAru-541132596033735/">
        Facebook
      </a>
      <a href="https://www.instagram.com/spolocenstvo.ladislava.hanusa/">Instagram</a>
    </div>
  </footer>
</div>

{% block extra_js %}
  {# Override this in templates to add extra javascript #}
{% endblock %}

{# Global site tag (gtag.js) - Google Analytics #}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-40K0CGJQ4R"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'G-40K0CGJQ4R');
</script>
</body>
</html>
