{% extends "home/base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}template-category-index{% endblock %}

{% block content %}
  <div class="mb-4 f-spec uppercase text-lg">Všetky rubriky</div>
  <div class="max-w-xl mb-3 text-xl">
      {% for category in categories %}
        <a href="{% pageurl category %}">{{ category.title }}</a>
      {% endfor %}
  </div>
{% endblock content %}
