{% extends "home/base.html" %}
{% load wagtailcore_tags %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}{% endblock extra_css %}

{% block content %}
  <article class="max-w-2xl mb-4 default-formatting">
    <h1 class="mb-5 f-spec font-medium text-4xl uppercase">{{ page.title }}</h1>

    {{ page.body|richtext }}
  </article>
{% endblock content %}
