{% extends "home/base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}

{% block body_class %}homepage{% endblock %}

{% block content %}
  {% if page.pinned_article %}
    <div class="mb-4 f-spec uppercase text-lg">Text týždňa</div>
    {% image page.pinned_article.main_image original format-jpeg as pinned_bg %}
    <article class="grid grid-cols-1 sm:grid-cols-2 gap-3 sm:gap-10 mb-10">
      <a href="{{ page.pinned_article.url }}">
        <img src="{{ pinned_bg.url }}" alt="{{ pinned_bg.alt }}"
             class="h-48 sm:h-72 w-full object-cover object-center">
      </a>
      <div>
        <address rel="author" class="text-xl not-italic mb-2">
          {% for author_link in page.pinned_article.authors.all %}
            {{ author_link.author.name }}{% if not forloop.last %},{% endif %}
          {% endfor %}
        </address>

        <h1 class="f-spec font-medium uppercase text-4xl mb-2">
          <a href="{{ page.pinned_article.url }}">
            {{ page.pinned_article.title }}
          </a>
        </h1>
        <div class="line-clamp-6">
          {{ page.pinned_article.free_content.0|striptags }}
        </div>
      </div>
    </article>
  {% endif %}

  <div class="mb-4 f-spec uppercase text-lg">Ďalšie texty</div>

  <div class="grid grid-cols-1 gap-5 sm:grid-cols-2 sm:gap-10 lg:grid-cols-3 xl:grid-cols-4 mb-8">
    {% for article in page.articles_without_pinned|slice:':7' %}
      <article class="flex flex-col">
        <address rel="author" class="not-italic mb-2">
          {% for author_link in article.authors.all %}
            {{ author_link.author.name }}{% if not forloop.last %},{% endif %}
          {% endfor %}
        </address>

        <h2 class="mb-2 f-spec font-medium uppercase text-lg leading-tight">
          <a href="{{ article.url }}">
            {{ article.title }}
          </a>
        </h2>
        {% image article.main_image height-250 format-jpeg as article_img %}
        <a href="{{ article.url }}" class="mt-auto">
          <img src="{{ article_img.url }}" alt="{{ article_img.alt }}"
               class="w-full h-32 sm:h-44 object-cover object-center">
        </a>
      </article>
    {% endfor %}

    <div class="bg-gray-200 f-spec p-5 sm:row-start-1 sm:col-start-2 lg:col-start-3 xl:col-start-4">
      <h2 class="text-lg mb-4">Najčítanejšie</h2>
      <ol class="text-sm list-none">
        {% for article in most_viewed|slice:':7' %}
          <li><a href="{{ article.url }}" class="line-clamp-1">{{ forloop.counter }}. {{ article.title }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>

  <div class="flex justify-center">
    {% if article_index %}
    <a href="{% pageurl article_index %}"
       class="px-8 py-3 bg-black f-spec font-medium text-white">
      Všetky texty
    </a>
    {% endif %}
  </div>

{% endblock content %}
