{% extends "home/base.html" %}
{% load i18n %}

{% block content %}
  <div class="max-w-screen-lg">
    {% if messages %}
      {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
          <div class="text-green-500 bg-green-200 border border-green-400 p-4 m-5">
            {{ message }}
          </div>
        {% else %}
          <div class="text-error-500 bg-error-200 border border-error-400 p-4 m-5">
            {{ message }}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if form %}
      {% if form.errors %}
        <div class="text-red-500 bg-red-200 border border-red-400 p-4 m-5">
          {% trans "Your username and password didn't match. Please try again." %}
        </div>
      {% endif %}
      <form action="{% url 'login' %}" method="post" class="flex flex-col mb-5 items-center">
        {% csrf_token %}
        {{ form.email }}
        {{ form.password }}
        <div class="flex justify-center">
          <button type="submit"
                  class="px-6 py-2 bg-black f-spec font-medium text-white">
            Prihlásiť
          </button>
        </div>
      </form>
    {% endif %}
  </div>
{% endblock content %}
