{% extends "home/base.html" %}

{% block content %}
  <div class="text-green-500 bg-green-200 border border-green-400 p-4 m-5">
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  </div>
{% endblock content %}
