{% load wagtailcore_tags %}

{% wagtail_site as current_site %}

<nav class="ml-auto text-2xl text-center">
  <label for="show-menu" class="sm:hidden">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 mr-4" fill="none" viewBox="0 0 24 24"
         stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"/>
    </svg>
  </label>
  <input type="checkbox" id="show-menu" role="button" class="hidden">

  <div id="menu" class="fixed top-0 left-0 min-w-full min-h-full flex-col bg-black text-white
                            sm:relative sm:w-auto sm:h-auto sm:flex-row sm:bg-white sm:text-black">
    <label for="show-menu" class="sm:hidden text-white ml-auto my-10 mr-7">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24"
           stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M6 18L18 6M6 6l12 12"/>
      </svg>
    </label>
    {% for menu_page in current_site.root_page.get_children.live.in_menu %}
      <div class="group mx-3 my-4 sm:my-0">
        {% if menu_page.get_children.live.in_menu %}
          <div class="flex flex-col relative">
            {{ menu_page.title }}
            <div class="sm:absolute sm:right-0 sm:top-0 mt-8 sm:hidden sm:text-right
                        group-hover:block group-hover:bg-black group-hover:text-white">
              <div class="flex flex-col px-7 py-3 leading-10 text-lg">
                {% for sub_menu_page in menu_page.get_children.live.in_menu %}
                  <a href="{% pageurl sub_menu_page %}">{{ sub_menu_page.title }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        {% else %}
          <a href="{% pageurl menu_page %}">{{ menu_page.title }}</a>
        {% endif %}
      </div>
    {% endfor %}

    <div class="group mx-3 my-4 sm:my-0">
    </div>
  </div>
</nav>
