{% extends "home/base.html" %}
{% load wagtailimages_tags wagtailcore_tags %}

{% block body_class %}template-article{% endblock %}

{% block extra_css %}
  {% if redirect_url %}
    <meta http-equiv="refresh" content="7; url='{{ redirect_url }}'" />
  {% endif %}
{% endblock extra_css %}

{% block content %}
  {% if messages %}
    {% for message in messages %}
      {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="text-green-500 bg-green-200 border border-green-400 p-4 m-5">
          {{ message }}
        </div>
      {% else %}
        <div class="text-error-500 bg-error-200 border border-error-400 p-4 m-5">
          {{ message }}
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if form %}
    <div class="md:w-1/2">
      <form action="{% url 'paywall-finalize' hash %}" method="post"
            class="flex flex-col mb-5 items-center">
        {% csrf_token %}
        <span class="text-red-500">{{ form.non_field_errors }}</span>
        <span class="text-red-500">{{ form.first_name.errors }}</span>
        {{ form.first_name }}
        <span class="text-red-500">{{ form.last_name.errors }}</span>
        {{ form.last_name }}
        <span class="text-red-500">{{ form.password.errors }}</span>
        {{ form.password }}
        <div class="flex justify-center">
          <button type="submit"
                  class="px-6 py-2 bg-black f-spec font-medium text-white">
            Odoslať
          </button>
        </div>
      </form>
    </div>
  {% endif %}
{% endblock content %}
