{% extends "home/base.html" %}
{% load wagtailimages_tags wagtailcore_tags %}

{% block body_class %}template-article{% endblock %}

{% block extra_css %}{% endblock extra_css %}

{% block content %}
  <div class="max-w-screen-lg">
    {% if messages %}
      {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
          <div class="text-green-500 bg-green-200 border border-green-400 p-4 m-5">
            {{ message }}
          </div>
        {% else %}
          <div class="text-error-500 bg-error-200 border border-error-400 p-4 m-5">
            {{ message }}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if form %}
      <form action="{% url 'paywall' %}" method="post" class="flex flex-col mb-5 items-center">
        {% csrf_token %}
        <span class="text-red-500">{{ form.non_field_errors }}</span>
        <span class="text-red-500">{{ form.email.errors }}</span>
        {{ form.email }}
        {{ form.target_url }}
        {{ form.target_url.errors }}
        <div class="flex justify-center">
          <button type="submit"
                  class="px-6 py-2 bg-black f-spec font-medium text-white">
            Registrovať
          </button>
        </div>
      </form>
    {% endif %}
  </div>
{% endblock content %}
