{% extends "home/base.html" %}
{% load wagtailcore_tags %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
  <main class="subscription-page">
    <div class="container">
      {% if session_id %}
        <div class="row mb-4">
          <div class="col-md-8 offset-md-2">
            <div class="alert alert-primary" role="alert">
              <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              Presmerovanie na platobnu branu.
            </div>
          </div>
        </div>
      {% elif success_message %}
        <div class="row mb-4">
          <div class="col-md-8 offset-md-2">
            <div class="alert alert-success" role="alert">
              {{ success_message|richtext }}
            </div>
          </div>
        </div>
      {% else %}
        <div class="row mb-4">
          <div class="col-md-12">
            {{ page.description|richtext }}
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-sm-4">
            <div class="card">
              <img src="https://picsum.photos/300/200" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">{{ plans.free.name }}</h5>
                <p class="card-text">
                  {{ page.description_free|richtext }}
                <p><b>{{ plans.free.price }} €</b></p>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <img src="https://picsum.photos/300/200" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">{{ plans.digital.name }}</h5>
                <p class="card-text">
                  {{ page.description_digital|richtext }}
                <p><b>{{ plans.digital.price }} €</b></p>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <img src="https://picsum.photos/300/200" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">{{ plans.premium.name }}</h5>
                <p class="card-text">
                  {{ page.description_premium|richtext }}
                <p><b>{{ plans.premium.price }} €</b></p>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row my-2">
          <div class="col-sm-8 offset-sm-2">
            <form action="{{ page.url }}" method="post">
              {% csrf_token %}
              {{ form }}
              <button type="submit" class="btn btn-primary my-3">Objednať</button>
            </form>
          </div>
        </div>
      {% endif %}
    </div>
  </main>
{% endblock content %}


{% block extra_js %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
          integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://js.stripe.com/v3/"></script>
  <script src="{% static 'js/subscription.js' %}"></script>
  <script>
    const STRIPE_PUBLISHABLE_KEY = '{{ STRIPE_PUBLISHABLE_KEY }}'
    const STRIPE_SESSION_ID = '{{ session_id }}'
  </script>
{% endblock %}
