@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'GT Walsheim';
        src: url('/fonts/GTWalsheim-Rg.woff2') format('woff2');
        font-weight: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'GT Walsheim';
        src: url('/fonts/GTWalsheim-Md.woff2') format('woff2');
        font-weight: 500;
        font-display: swap;
    }

    @font-face {
        font-family: 'Preto Serif';
        src: url('/fonts/PretoSerifOTStdRegular.woff2') format('woff2');
        font-display: swap;
    }

    a:hover, a:focus, a:active {
        text-decoration: underline;
    }
}

.f-spec {
    font-family: 'GT Walsheim', sans-serif;
}
.f-norm {
    font-family: 'Preto Serif', serif;
}

.template-article .article-content p {
    margin-bottom: 2rem;
}


#menu {
    display: none;
}

/* Show menu when invisible checkbox is checked */
nav input[type=checkbox]:checked ~ #menu{
    display: flex;
}

@media (min-width: 640px) {
    #menu {
        display: flex;
    }
}

.default-formatting h2 { @apply text-2xl; margin: 0.75rem 0 0.5rem 0; }
.default-formatting h3 { @apply text-xl; margin: 0.75rem 0 0.5rem 0; }
.default-formatting h4 { @apply text-lg; margin: 0.75rem 0 0.5rem 0; }
.default-formatting ol li { list-style: decimal; margin-left: 1rem; }
.default-formatting ul li { list-style: circle; margin-left: 1rem; }
.default-formatting a { text-decoration: underline; }
.default-formatting a:hover { text-decoration: none; }
